* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --main-bg: #252525;

  --secondary-bg: #2e2e2e;
  --secondary-bg_hover: #444444;

  --border-color: #4f4f4f;

  --text-color: #cdcdcd;
  --text-color_secondary: #8e8e8e;
}

body {
  font-family: var(--font-dm-mono);
  color: var(--text-color);
  background-color: var(--main-bg);
}

.page-root {
  display: flex;
  align-items: stretch;
}

main {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}