.note {
    padding-left: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.25rem;
}

.note:hover {
    background-color: var(--secondary-bg_hover);
}

.note__name {
    font-weight: lighter;
    opacity: 0.9;
    color: var(--text-color);
    text-decoration: none;
}
